@import url("https://fonts.googleapis.com/css2?family=Muli:wght@200&display=swap");
body {
  font-family: "Muli", sans-serif;
  background-color: rgba(0, 6, 8, 0.555);
}

#messages {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  height: 90vh;
  overflow: auto;
}

.newMsgPod {
  position: relative;
  width: 400px;
  background-color: rgba(170, 36, 98, 0.336);
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 15px;
  border-radius: 8px;
  color: aliceblue;
}

.newMsgPod .newMsgFrom {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 10px;
  opacity: 0.5;
  padding: 4px;
}

.newMsg {
  position: relative;
  width: 400px;
  background-color: rgba(8, 28, 29, 0.836);
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 15px;
  border-radius: 8px;
  color: aliceblue;
}

#text-pod {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

#text-pod > input {
  width: 85%;
  height: 100%;
  border: none;
  border-radius: 8px;
  padding: 10px;
  outline: none;
  box-shadow: 4px 4px 15px rgba(255, 255, 255, 0.4);
  font-family: "Muli", sans-serif;
}
